* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #666;
    font-family: 'monospace', monospace;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header div {
    display: flex;
    align-items: center;
}
header div>div {
    color: #ffffff;
    font-family: 'monospace', monospace;
    font-size: 24px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    margin-right: 45%;
    margin-left: 5%;
}

header nav {
    display: flex;
    justify-content: center;
    margin-right: 40%;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    margin-right: 20px;
}

header button {
    background-color: #363636;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}



