
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    background: linear-gradient(to bottom, #f8edd8, #fdd0d6);
}

header {
    background-color: #474747;
    color: #fff;
    text-align: center;
}

header h1 {
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    width: 100%;
    padding: 10px 0;
}

header nav div {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.image-row {
    display: inline-table;
    position: relative;
}

section, aside {
    padding: 20px;
}

article, aside {
    margin: 0 auto;
    max-width: 800px;
}

ul {
    margin-left: 30px; 
}
  
ul li {
    margin-top: 10px; 
}

footer{
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    padding-bottom: 10px;
}

table, th, td {
    border: 1px solid #020202;
    text-align: center;
}

th,tfoot {
    background-color: #b6b4b4;
    color: #222;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
}

select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

